.ant-form-item-label{
  width: 70px;
  line-height: 40px;
}
.ant-form-item-control-wrapper{
  width: 70%;
}
.ant-form-item{
  margin-bottom: 0;
}
.ant-form{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}